BASE_RPC_URL=
BASE_SEPOLIA_RPC_URL=
BASESCAN_API_KEY=
PRIVATE_KEY=
ADMIN_ADDRESS=
OPERATOR_ADDRESS=
PAYMENT_TOKEN_ADDRESS=
EAS_ADDRESS=
EAS_SCHEMA_REGISTRY_ADDRESS=
VERIFICATION_SCHEMA_UID=
SCORE_SCHEMA_UID=
DISTRIBUTION_SCHEMA_UID=
FACTORY_ADDRESS=
DISTRIBUTION_PROXY=
ATTESTER_PROXY=
UPGRADE_PROXY_ADDRESS=
UPGRADE_CONTRACT_NAME=
UPGRADE_REFERENCE_CONTRACT=
